.title {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #FF9900;
    width: 100%;
}

#container {
    margin-left: auto;
    margin-right: auto;
    max-width: 728px;
    margin-top: 20px;
}

.entry {
    margin-bottom: 30px;
}

.entry a {
    text-decoration: none;
}

.title {
    margin-bottom: 30px;
}

.title a {
    color: black;
    text-decoration: none;
}

.entry-footer {
    font-size: 50%;
    text-align: right;
}

pre {
    margin-left: 8px;
    background-color: #f8f9fa;
}
